# Dependencies
node_modules/

# Build output
/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Coverage
coverage/

# IDE/editor
.idea/
.vscode/

# Misc
.DS_Store


